index.html
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-invoice"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Получение данных из Webhook\nconst userId = items[0].json.userId;\nconst cart = items[0].json.cart;\nconst total = items[0].json.total;\n\n// Детали счета\nconst title = 'Оплата заказа';\nconst description = `Оплата заказа на сумму ${total} рублей`;\nconst payload = `order_${userId}_${Date.now()}`;\nconst currency = 'RUB';\nconst prices = cart.map(item => ({\n    label: item.name,\n    amount: item.price * 100 // В копейках\n}));\n\nconst invoiceData = {\n    chat_id: userId,\n    title: title,\n    description: description,\n    payload: payload,\n    provider_token: 'YOUR_PROVIDER_TOKEN', // Замените на ваш provider_token\n    currency: currency,\n    prices: prices,\n    start_parameter: 'start_pay'\n};\n\nreturn [\n    {\n        json: invoiceData\n    }\n];"
      },
      "name": "Prepare Invoice Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "https://api.telegram.org/botYOUR_BOT_TOKEN/sendInvoice",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"chat_id\": \"{{$json.chat_id}}\",\n  \"title\": \"{{$json.title}}\",\n  \"description\": \"{{$json.description}}\",\n  \"payload\": \"{{$json.payload}}\",\n  \"provider_token\": \"{{$json.provider_token}}\",\n  \"currency\": \"{{$json.currency}}\",\n  \"prices\": {{$json.prices}},\n  \"start_parameter\": \"{{$json.start_parameter}}\"\n}"
      },
      "name": "Send Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "dataPropertyName": "body",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Invoice Data": {
      "main": [
        [
          {
            "node": "Send Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invoice": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
